{% extends '::admin.html.twig' %}

{% block content -%}
    <h1>{% trans %}new post{% endtrans %}</h1>

    <form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-info pull-right">{% trans %}save{% endtrans %}</button>
        </p>
    </form>

    
        <a href="{{ path('post') }}" class="btn btn-inverse pull-left">
           {% trans %}Back to the list{% endtrans %}
        </a>
{% endblock %}
