
{% if pageCount > 1 %}
<div class="pagination pagination-centered">
    <ul>


    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page">
               
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active"><a href="">{{ page }}</a></li>
        {% endif %}

    {% endfor %}

</ul>
</div>
{% endif %}
