{% extends 'NavMenuBundle::layout.html.twig' %}
{% block content -%}

<div>
    <a class="button" href="{{ path('navmenu_new') }}">Create new</a>
</div>
<form id="navArange" action="{{path('navmenu_arange')}}" method="POST" >
<div class="cf nestable-lists">
    <div class="dd" id="nestable">
           {{ navTree |raw }}
    </div>
    <div>
        <input type="button" value="Save" id="saveNMTree" />
    </div>
</div>
 </form>

{% endblock %}
