{% extends '::front.html.twig' %}

{%block topHeader%} 
     <ul id="lang-selection" class="inline">
          <li><a class="badge badge-inverse" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'locale': 'en'}) )}}">en</a></li>
          <li><a class="badge badge-inverse" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'locale': 'sr'}) )}}">sr</a></li>
          <li><a class="badge badge-inverse" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'locale': 'cir'}) )}}">ср</a></li>
    </ul>
{%endblock%}
{% block navigation %}
   
    <div id="templatemo_menubar">
        <div id="top_nav" class="ddsmoothmenu">
            {% block navMenu %} 
               {% render url('front_navigation',{ 'position': 'top', 'locale': app.request.attributes.get('_route_params').locale }) %}
            {% endblock %}

            <br style="clear: left" />
        </div> <!-- end of ddsmoothmenu -->
        <div id="templatemo_search">
            <form action="#" method="get">
                <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
    </div> <!-- END of templatemo_menubar -->
{% endblock %}

{% block sidemenu %}
    <div id="sidebar" class="float_l">
        <div class="sidebar_box"><span class="bottom"></span>
             {% block leftMenu %}
                   {% render url('front_navigation',{ 'position': 'left', 'locale': app.request.attributes.get('_route_params').locale } ) %}
             {% endblock %}
        </div>
    </div>
{% endblock %}
