<div class="treeList">
    {{ pageTree |raw }}
    <span class="removeTreeSeleted label label-info pull-right">remove</span>
</div>
<script>
    listTree.treeSelect( $( "#{{ form }}  #{{ input }}" ) ) ;
</script>
