{% extends 'FrontBundle::layout.html.twig' %}

{% block content -%}

    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <h3><a href="{{ path('front_post', { 'post': post.id }) }}">{{post.title}}</a></h3>
                <div>{{post.content | raw}}</div>
            </div>
        {% endfor %}
    {%else%}
        <p class="alert-info">
        Sorry, no more posts yet! Please publish...
        </p>
    {% endif %}


    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "top_nav", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>
{% endblock %}