{% extends '::admin.html.twig' %}

{% block content -%}
    <h1>{% trans %}New Category{% endtrans %}</h1>

    <form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{% trans %}Create{% endtrans %}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
