body{
    background-color: #ccc;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


.sideAdminMenu {
    background-color: #e3e3e3;
    width: 215px;
    padding: 0px 16px;

}

.sideAdminMenu .container{
    background-color: #fff;
    padding: 0px 15px;
    margin-bottom: 2px;
}

.sideAdminMenu h5{
    margin: 0px;
    font-weight: normal;
}

.sideAdminMenu ul{
    margin: 0px 15px;
    margin-bottom: 10px;
    list-style: none;
}

.admin_content{
    background-color: #fff;
    padding: 5px 15px;
    border-bottom: 1px dotted #C0ADAD;
}

.treeList{
    background: #e4e4e4;
    max-width: 210px;
    max-height: 250px;
    overflow: auto;
    margin:0px 0px 15px 0px;
    padding: 5px;
    border:1px solid #D5D5D5;
}
.treeList ul{
    list-style: none;
    margin:0px;
}

.treeList li{
    background:url('../images/list.png') no-repeat 0px 2px;;
    cursor:pointer;
    padding-left: 15px;
}

.treeList .active{
    color: #0032FF;
}

.removeTreeSeleted{
    cursor:pointer;
}

.admin_content .row{ margin-left: 0px;}

#header {
    height: 55px;
    width: 100%;
    background-color: #34194D;
}


#header h1.site_title, header#header h2.section_title {
    float: left;
    margin: 0;
    font-size: 22px;
    display: block;
    width: 23%;
    height: 55px;
    font-weight: normal;
    text-align: left;
    text-indent: 1.5%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

#header h2.section_title {
    float: left;
    margin: 0;
    font-size: 22px;
    display: block;
    width: 23%;
    height: 55px;
    font-weight: normal;
    text-align: left;
    text-indent: 1.8%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

.span10 {
    margin-left:0px;
}

#header a {
    color:#fff;
}

#header a:hover{
    color:#fff;
}