body{
    background-color: #ccc;
}
.header {
    border-top: 2px solid;
}

.header .container{
    background-color: #fff;
    padding: 0px 15px;
    margin-bottom: 2px;
}

.admin_content{
    background-color: #fff;
    padding: 0px 15px;
    border-bottom: 1px dotted #C0ADAD;
}

.treeList{
    background: #e4e4e4;
    max-width: 210px;
    max-height: 250px;
    overflow: auto;
    margin:0px 0px 15px 0px;
    padding: 5px;
    border:1px solid #D5D5D5;
}
.treeList ul{
    list-style: none;
    margin:0px;
}

.treeList li{
    background:url('../images/list.png') no-repeat 0px 2px;;
    cursor:pointer;
    padding-left: 15px;
}

.treeList .active{
    color: #0032FF;
}

.removeTreeSeleted{
    cursor:pointer;
}