{% if post %}
    <h1 class="page-title">{{ post.title}}</h1>

    {{ post.content|raw }}
{%else%}
    <p>Post not found</p>
{%endif%}
    {{ include(
                'FrontBundle:Article:post-categories.html.twig',
                { 'categories':post.categories }
            ) }}
