<div class="post">
    <h3>
        <a href="{{ path('front_post', { 'post': post.id, 'locale': app.request.attributes.get('_route_params').locale }) }}">{{post.title}}</a></h3>
    <div>{{post.content | words_excerpt(15) | raw }}</div>
</div>